:root {
    --clr-purple:#9c3cf0;
    --clr-purple-light:#cb97f2;
}
.btn-purple{
    background-color: var(--clr-purple);
    color: azure;
    font-weight: 600;
    border-radius: 5px;
    padding-inline: 30px;
    padding-block: 10px;
    font-size: 20px;
}
.btn-purple-sm{
    background-color: var(--clr-purple);
    color: azure;
    font-weight: 600;
    border-radius: 5px;
    padding-inline: 15px;
    padding-block: 5px;
    font-size: 18px;
}
.border-purple{
    border: 3px solid var(--clr-purple);
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(171, 141, 193);
}
.cursor-pointer{
    cursor: pointer;
}
.link{
    text-decoration: none !important;
    color: rgb(168, 65, 232) !important;
}
.sidebar{
    background-color: rgb(235, 209, 250);
    width: 15%;
    padding: 10px;
}
.main-container{
    height: calc(100vh - 60px);
}
.secondary-container{
    width: calc(100vw - 15%);
    padding: 30px;
}
.nav-item{
    font-size: 20px;
    font-weight: 600;
    border-bottom: 2px solid var(--clr-purple);
    color: rgb(39, 37, 37);
    padding-block: 20px;
    padding-left: 20px;
}
.bg-purple-light{
    background-color: var(--clr-purple-light);
}
.profile-image{
    width: 45px;
    height: 45px;
    background-color: var(--clr-purple);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-image img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.profile-page-image{
    width: 110px;
    height: 110px;
    background-color: var(--clr-purple);
    border-radius: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-page-image img{
    width: 100px;
    height: 100px;
    border-radius: 25%;
    object-fit: cover;
}
.title{
    font-size: 20px;
    font-weight: 600;
}